* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.feather {
    display: none;
}

.hide {
    display: none;
}

body {
    display: grid;
    grid-template-rows: 15vh 85vh 10vh;
}

p {
    font-size: 1.25rem;
}

header {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    padding: 2rem;
}

main {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

#project-wrapper {
    border: 1px solid orange;
    padding: 1.5rem;
}

.project-card, #new-project-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    border-radius: 6px;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#plus-div, .plus-div, #trash-div, #check-div, #star-div, #calendar-div, #edit-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

#check-div {
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
}

#check-div:hover {
    background-color: black;
}

.plus-icon, .trash-icon, .check-icon, .star-icon, .calendar-icon, .edit-icon {
    stroke: black;
    fill: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.check-icon {
    stroke: white;
    height: 90%;
    width: 90%;
}

.star-fill {
    fill: yellow;
}

.plus-icon:hover, .calendar-icon:hover, .star-icon:hover, .edit-icon:hover {
    stroke: green;
}

.trash-icon:hover {
    stroke: red;
}

#task-wrapper {
    border: 1px solid red;
    padding: 1.5rem 3rem ;
}

.task-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid blue;
    border-radius: 6px;
    padding: .75rem 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.due-date-text {
    margin-left: auto;
}

.plus-icon {
    margin-left: auto;
}

footer {
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}